* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#mainCanvas {
  border: 3px dashed #00888866;
  margin-left: 10px;
  margin-top: 10px;
}

.buttonGroup {
  position: absolute;
  left: 20px;
  top: 20px;
}

.sliderGroup {
  position: absolute;
  left: 20px;
  top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.buttonGroup button {
  padding: 15px 30px;
}

.controlsGroup {
  position: absolute;
  left: 20px;
  top: 100px;
  width: 150px;
  padding: 10px;
  background-color: #cccccc88;
}

.controlsGroup label {
  padding: 10px;
  position: relative;
  bottom: 5px;
}

.controlsGroup input {
  width: 20px;
  height: 20px;
}
